@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto Regular";
    src: url("src/assets/fonts/Roboto-Regular.ttf");
    font-weight: normal;
}

* {
    font-family: "Roboto Regular", sans-serif;
}

html, body, #root {
    height: 100%;
}